<!-- <footer class="footer text-center">
    <div class="social-icons">

      <a class="text-decoration-none" (click)="onInstagramRedirect()"><i class="bi bi-instagram"></i></a>

      <a class="text-decoration-none" (click)="onFacebookRedirect()"><i class="bi bi-facebook"></i></a>

      <a class="text-decoration-none" (click)="onWhatsappRedirect()"><i class="bi bi-whatsapp"></i></a>
    </div>
    <p>&copy; 2024 Ng Cafe</p>
  </footer> -->
  <footer class="bg-footer" id="footer">
    <div class="container-fluid">
        <div class="row footer-align">
            <div class="col-md-4 col-sm-4">
                <h5 class="text-center">Food Fact</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <p class="footer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia repudiandae natus, inventore temporibus eligendi? Veritatis illo adipisci fugiat molestiae.
                    </p>
                    <ul class="social-networks">
                        <a class="text-decoration-none" (click)="onInstagramRedirect()"><i class="fa fa-instagram"></i></a>
                        <a class="text-decoration-none" (click)="onFacebookRedirect()"><i class="fa fa-facebook"></i></a>
                        <a class="text-decoration-none" (click)="onWhatsappRedirect()"><i class="fa fa-whatsapp"></i></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="text-center">Our contact</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <address>
                      C/429, G.B. Singh Compound,
                      <br>
                      Civil Lines, Barabanki,
                      <br>
                      Uttar Pradesh
                      <br>
                      <i class="fa fa-phone address"></i> +091 80040 67397
                      <br>
                      <!-- <i class="fa fa-fax address"></i> +876 5432 1234 -->
                      <!-- <br> -->
                      <i class="fa fa-envelope address"></i> <a class="text-decoration-none" href="mailto:northstreet@gmail.com"> trendcafe.helpdesk&#64;gmail.com</a>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="text-center">Open hours</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <ul>
                        <li>Mon-Sun: 10:00 AM - 10:00 PM</li>
                        <li>Tuesday: Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>