<footer class="footer text-center">
    <div class="social-icons">
      <!-- Instagram icon -->
      <a class="text-decoration-none" (click)="onInstagramRedirect()"><i class="bi bi-instagram"></i></a>
      <!-- Facebook icon -->
      <a class="text-decoration-none" (click)="onFacebookRedirect()"><i class="bi bi-facebook"></i></a>
      <!-- WhatsApp icon -->
      <a class="text-decoration-none" (click)="onWhatsappRedirect()"><i class="bi bi-whatsapp"></i></a>
    </div>
    <p>&copy; 2024 Ng Cafe</p>
  </footer>