<div class="container-fluid order-container">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            <div class="card text-center" style="width: 18rem;">
                <img src="../../../assets/slide1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Order on Whatsapp</h5>
                    <p class="card-text">Please click the button to contact us on whatsapp and place the order.</p>
                    <a class="btn btn-primary" (click)="openWhatsapp()">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>