 <!-- Carousel -->
<section id="carouselControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active" style="background-image: url('../../../assets/slide1.jpg');" data-bs-interval="5000">
      <div class="carousel-caption">
        <h1>WELCOME TO<br/> TREND CAFE</h1>
        <!-- <p>Description about the dish goes here.</p> -->
        <button class="order-button">Order Now</button>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item" style="background-image: url('../../../assets/slide2.jpg');" data-bs-interval="5000">
      <div class="carousel-caption">
        <h1>BEST DINE-IN<br/> EXPERIENCE</h1>
        <p>Description about the dish goes here.</p>
        <button class="order-button">Order Now</button>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item" style="background-image: url('../../../assets/slide3.jpg');" data-bs-interval="5000">
      <div class="carousel-caption">
        <h1>HOMELY & NO-FRILLS<br/> EXPERIENCE</h1>
        <p>Description about the dish goes here.</p>
        <button class="order-button">Order Now</button>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<section class="gradient-section d-block d-md-flex">
  <div class="container">
    <div class="row mb-md-3">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div class="services-title-box text-center">
          <h1>OUR SERVICES</h1>
        </div>
      </div>
    </div>
    <div class="row my-md-3">
      <div class="col-lg-6">
        <img class="services_image d-none d-md-block" src="../../../assets/services-food1.png" alt="">
      </div>
      <!-- <div class="col-lg-6 offset-lg-5 col-md-8 offset-md-2 col-sm-10 offset-sm-1"></div> -->
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="content-box text-center">
          <h2>Welcome to Our Restaurant</h2>
          <p>We provide delicious food and excellent service.</p>
          <button class="icon-button" (click)="onZomatoRedirect()"><img src="../../../assets/zomato-logo.png" alt="Zomato Icon" width="30"></button>
          <button class="icon-button" (click)="onSwiggyRedirect()"><img src="../../../assets/swiggy-logo.png" alt="Swiggy Icon" width="30"></button>
        </div>
      </div>
    </div>
    <div class="row my-md-3">
      <div class="col-md-4 col-sm-12 mb-3 mb-md-0 text-center">
        <div class="card service-section">
          <div class="card-header">
            GOURMET ITEMS
          </div>
          <div class="card-body">
            <img src="../../../assets/slide1.jpg" class="card-img-top" alt="Service 1">
            <!-- <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-3 mb-md-0 text-center">
        <div class="card service-section">
          <div class="card-header">
            PARTY BOOKINGS
          </div>
          <div class="card-body">
            <img src="../../../assets/slide2.jpg" class="card-img-top" alt="Service 2">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-3 mb-md-0 text-center">
        <div class="card service-section">
          <div class="card-header">
            MODERN AMBIENCE
          </div>
          <div class="card-body">
            <img src="../../../assets/slide3.jpg" class="card-img-top" alt="Service 3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


